* {
  font-size: 16px;
  font-family: "Fira Code";
}

window {
  background-color: alpha(@normal-black, 0.9);
  color: #abb2bf;
  border-bottom: 2px solid @normal-black;
}

#workspaces button {
  all: unset;
  padding: 4px 12px;
  padding-top: 8px;
  border-radius: 0;

  border-width: 0;
  border-bottom: 2px solid alpha(@bright-white, 0.2);
  transition:
    background-color 200ms,
    border-bottom-color 200ms;
}

#workspaces button.focused,
#workspaces button.active {
  border-bottom-color: alpha(@bright-white, 0.8);
}

#workspaces button:hover {
  border-bottom-color: alpha(@bright-white, 0.8);
  background-color: alpha(@bright-white, 0.2);
}

.modules-right widget label {
  all: unset;
  margin: 0 4px;
  padding: 0px 8px;
}

#pulseaudio.muted {
  color: @normal-red;
}

#network.disconnected,
#network.disabled {
  color: @normal-red;
}

.modules-right widget:last-child label {
  margin-right: 0;
}

#battery.warning {
  color: @normal-yellow;
}

#battery.critical {
  color: @normal-red;
}

#idle_inhibitor.activated {
  color: @normal-red;
}
