[alias]
  a = add -A
  d = diff
  l = log --pretty=oneline
  f = fetch --prune
  amend = commit --amend
[user]
  email = Jesse_Gibson@me.com
  name = Jesse Gibson
[core]
  editor = nvim
[push]
  followTags = true
  default = current
