* {
  font-size: 15px;
}

window {
  background-color: rgba(30, 30, 30, 0.9);
  color: #abb2bf;
  border-bottom: 2px solid #1e1e1e; /* OneDark black */
}

#workspaces button {
  all: unset;
  padding: 4px 12px;
  padding-top: 8px;
  border-radius: 0;

  border-width: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  transition: background-color 200ms, border-bottom-color 200ms;
}

#workspaces button.focused {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

#workspaces button:hover {
  border-bottom-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
}

.modules-right widget label {
  all: unset;
  margin: 0 4px;
  padding: 0px 8px;
}

#pulseaudio.muted {
  color: #e06c75; /* red */
}

#network.disconnected,
#network.disabled {
  color: #e06c75; /* red */
}

.modules-right widget:last-child label {
  margin-right: 0;
}

#battery.warning {
  color: #e5c07b; /* yellow */
}

#battery.critical {
  color: #e06c75; /* red */
}

#idle_inhibitor.activated {
  color: #e06c75; /* red */
}
